body {
    background-color: white;
    color: black;
}

/*modo obscuro */
body.modo-obscuro{
    background-color: black;
    color: white;
}

/*tamaño de la letra */

body.porte-letra{
    font-size: 1.4em;
}

#Titulo {
    color: rgb(155, 5, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Parrafo_Mision {
    color: rgb(255, 153, 0);
    font-family: Arial, Helvetica, sans-serif;
}

#Parrafo_Vision {
    color: aquamarine;
}

#Parrafo_QuienesSomos {
    color: blueviolet;
}

#PrALL {
    display: grid;
    color: rgb(47, 0, 255);
    font-family: Arial, Helvetica, sans-serif;
    border: 40%,chocolate;
}

.datos {
    display: inline;
}

#forma_formulario {
    display: inline-block
}

textarea{
    padding: 25px;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

option{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#btnColor{
    body{
        color: black;
    }
}

input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#tablaDatos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
